################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Portal/bin
/Portal/obj/Debug
/Portal.Tests/bin/Debug
/Portal.Tests/obj/Debug
